
<!--meta charset="UTF-8"-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--LOGO DU SITE INTERNET-->
<link rel="icon" type="image/png" href="<?php echo base_url().'images/agent.jpg';?>">

<!--Liens de style du framework BOOTSTRAP-->
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/bootstrap/css/bootstrap.min.css">

<!--Liens de style du framework FONTAWASOME-->
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/fawesome/css/font-awesome.min.css">
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->

<!--Liens de style du framework SLICK-->
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/slick/slick.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/slick/slick-theme.css">

<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/style.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/slick.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/slick2.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/container.css">



<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/cont.css"> 


<!--link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/headervv.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/header.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/pop_us.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/dashvv.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/sidebar.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/singup.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/log_admin.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/css/footer.css">
<link rel = "stylesheet" type = "text/css"href = "<?php echo base_url(); ?>assets/js/veriform.js">
<script type="text/javascript"src="code.jquery.com/jquery-1.10.2.min.js"></script-->  

