<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<!--_________________________jquery______________-->
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/jquery-min.js"></script>

<!--____________________popper____________-->
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/bootstrap/js/popper.js"></script>

<!--________________bootstrap________-->
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>  

<!--____________slick_________-->
 <script src="<?php echo base_url(); ?>assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<!--_______caroufredsel_____________-->
<script type="text/javascript" src="<?php echo base_url(); ?>assets/js/caroufredsel.js"></script>


